:root {
  --background-color: #121212;
  --card-background: #1e1e1e;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
  --secondary-color: #005813;
  --border-color: #333333;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}